Package: idn-dbgsym
Source: libidn
Version: 1.33-2.2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Libidn Team <help-libidn@gnu.org>
Installed-Size: 32
Depends: idn (= 1.33-2.2)
Section: debug
Priority: optional
Description: debug symbols for idn
Build-Ids: d26f3c3eb3f1050ab5d20ec1f7d2ae1fcbc59a5c
