Package: idn
Source: libidn
Version: 1.33-2.2
Architecture: amd64
Maintainer: Debian Libidn Team <help-libidn@gnu.org>
Installed-Size: 210
Depends: libc6 (>= 2.14), libidn11 (>= 1.13)
Section: misc
Priority: optional
Homepage: https://www.gnu.org/software/libidn/
Description: Command line and Emacs interface to GNU Libidn
 GNU Libidn is a fully documented implementation of the Stringprep,
 Punycode and IDNA specifications.  Libidn's purpose is to encode and
 decode internationalized domain names.  The Nameprep, XMPP, SASLprep,
 and iSCSI profiles are supported.
 .
 This package contains the idn command-line tool and its Emacs lisp
 interface.
