Package: libidn11-java
Source: libidn
Version: 1.33-2.2
Architecture: all
Maintainer: Debian Libidn Team <help-libidn@gnu.org>
Installed-Size: 389
Section: java
Priority: optional
Homepage: https://www.gnu.org/software/libidn/
Description: Java port of the GNU Libidn library, an IDN implementation
 GNU Libidn is an implementation of the Stringprep, Punycode and IDNA
 specifications defined by the IETF Internationalized Domain Names
 (IDN) working group, used for internationalized domain names.
 Currently the Nameprep, Kerberos 5 and XMPP Stringprep profiles are
 supported.
 .
 This package contains the native Java port of the library.
